.add_span {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.remove_last_p {
    cursor: pointer;
}

.page_span {
    color: blue;
    cursor: pointer;
    font-size: 15px;
}

.selected_page_span {
    color: black;
    font-size: 15px;
}

.shop_main_image {
    width: 90%;
}

.shop_name {
    font-size: 30px;
}

.about_creation_text {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
}

.description_container {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
  }

.moderation_span {
    cursor: pointer;
}

.md_table {
    border: 1px solid black;
}

.main_description_p {
    font-size: 26px;
    width: 80%;
    word-wrap: break-word;
}

.main_page_photo_div {
    width: 100%;
    min-width: 600px;
    background-image: url(https://thumbs.dreamstime.com/b/vector-flat-abstract-city-map-perspective-black-white-geographical-map-vector-abstract-city-map-perspective-view-148777263.jpg);
    background-size: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_image {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.creator_link {
    cursor: pointer;
}